[Unit]
Description=Stallaini Monitoring Server Service
After=network.target

[Service]
User=andrea
WorkingDirectory=PWD/server
ExecStart=/usr/bin/python3 PWD/server/server.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=stallaini_bot
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
