[Unit]
Description=Stallaini Monitoring Telegram Bot Service
After=network.target

[Service]
User=andrea
WorkingDirectory=PWD/server
ExecStart=/usr/bin/python3 PWD/server/bot.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=telegram_bot
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
