[Unit]
Description=Stallaini Monitoring Service
After=network.target

[Service]
User=andrea
WorkingDirectory=PWD/local_client
ExecStart=/usr/bin/python3 PWD/local_client/client.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=stallaini_client
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
